# Dependencies
node_modules

# Build
dist
dist-ssr
.vite/
*.tsbuildinfo

# Local
*.local
.env
.env.*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log
npm-debug.log*

# Test
coverage

# PWA dev
dev-dist
